@using Auction.Entity
@model IEnumerable<Auction.Entity.SP_GetMaxBidUserDetails_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/pagescripts")
<h2>Active Auctions</h2>

<p>
    @Html.ActionLink("Register Products", "Create")
</p>


@foreach (var item in Model)
{
    @Html.Partial("_ProductPartial", item)
}


<script>
    $(document).ready(function () {
        console.log("ready!");
        AuctionSales.Load();

        $('.viewProduct').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
</script>