@using Auction.Entity
@model IEnumerable<Auction.Entity.SP_GetMaxBidUserDetails_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active Auctions</h2>

<p>
    @Html.ActionLink("Register Products", "Create")
</p>


@foreach (var item in Model)
{
    @Html.Partial("_ProductPartial", item)
}
